.friendList {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 200px;
  text-align: center;
}

.item {
  padding: 4px 4px 4px 14px;

  display: flex;
  align-items: center;
  box-shadow: 0 0 4px #000;
  border-radius: 4px;
}
.friendList :not(:last-child).item {
  margin-bottom: 4px;
}
