.statistics {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 415px;
}

.title {
  background-color: #bada44;
  padding: 5px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #808080;
}

.statList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #808080;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.statList li:not(:last-child){
    border-right: 1px solid #808080;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.label{
        padding-bottom: 4px;
}